* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

:root {
    --text-big: 2rem;
    --text-normal: .8rem;
    --text-small: .5rem;
    --padding-lf-sm: .5rem;
    --color-primary-hover: white;
    --color-primary-nt-hover: #A3A3A3;
}

/* general layout rules */

.flex-grow {
    flex-grow: 1;
    overflow: hidden;
}

.d-flex {
    display: flex;
}

.overflow-auto {
    overflow: auto;
}

.flex-content-centered {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* whole app rule */

.app-container {
    height: 100vh;
    display: flex;
    overflow: hidden;
    flex-direction: column;
}

/* sidebar section */

.sidebar {
    width: 190px;
    flex-shrink: 0;
    background-color: black;
    flex-direction: column;
    padding-left: 1rem;
}

.logo-section > img {
    width: 7rem;
    padding: 1rem 0;
}

/* navigation inside app button */

.nav-button-app {
    display: flex;
    align-items: center;
}

.icon-nav-button img {
    width: 1.6rem;
    opacity: .6;
}

.text-nav-button a {
    text-decoration: none;
    color: var(--color-primary-nt-hover);
    font-size: var(--text-normal);
    font-weight: 500;
    padding-left: var(--padding-lf-sm);
}

/* playlist section */

.playlist-title h3 {
    font-size: var(--text-normal);
    color: var(--color-primary-nt-hover);
    text-transform: uppercase;
    padding: 1rem 0;
    font-weight: 600;
}

.new-playlist-button {
    padding-bottom: .8rem;
}

.new-playlist-button > a {
    text-decoration: none;
    color: black;
    font-size: var(--text-big);
    
    height: 25px;
    width: 25px;
    background-color: var(--color-primary-nt-hover);
}

.new-playlist-button > h4 {
    color: var(--color-primary-nt-hover);
    padding-left: .4rem;
    font-weight: 400;
    font-size: var(--text-normal);
}

/* list playlist  */

.list-playlist {
    overflow: auto;
    flex-grow: 1;
}

.list-playlist ul {;
    list-style: none;
    overflow: auto
}

.list-playlist ul li {
    padding: .4rem 0;
}

.list-playlist ul li a{
    text-decoration: none;
    color: var(--color-primary-nt-hover);
    font-size: var(--text-normal);
    font-weight: 500;

}

/* main section */

.main-content {
    background-color: blue;
}


/* player section */

.player {
    background-color: green;
}